<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    {{>footer}}
</body>

</html>