<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <script src="/js/script.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Help to achive weather info :-</p>
        <ol>
            <li>Visit our website</li>
            <li>Enter any location on search field.</li>
            <li>Click on the search button. You will be provided with an weather info.</li>
        </ol>
    </div>
    <div>
        <a href="https://github.com/vimalgalani28/node-weather-web-app">Link to GitHub Repository</a>
    </div>
    {{>footer}}
</body>

</html>